In [1]:
import selenium

from selenium import webdriver
PATH = 'C:\Program Files (x86)\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)

from selenium.webdriver.common.keys import Keys

In [8]:
import time

time.sleep(5)

In [2]:
driver.get('https://www.flipkart.com/')

In [3]:
cross_btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cross_btn.click()

In [4]:
search_product = driver.find_element_by_name("q")
search_product.send_keys('Sneakers')

In [5]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [9]:
sneakers_opening_urls = []
for i in range(3):
    url= driver.find_elements_by_xpath('//div[@class="_1xHGtK _373qXS"]/a')
    for j in url:
        sneakers_opening_urls.append(j.get_attribute('href'))
    #clicking on next button to jump on next page
    nxt_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')                                         
    nxt_button.click()                                                   
    time.sleep(5)

In [11]:
len(sneakers_opening_urls)

120

In [13]:
Brand=[]
Product_Description=[]
Price=[]
discount=[]

In [14]:
for i in sneakers_opening_urls:
    driver.get(i)
    time.sleep(5)
    
    try:
        b=driver.find_element_by_xpath("//div[@class='aMaAEs']/div[1]/h1/span[1]")
        Brand.append(b.text)
    except:
        Brand.append('-')
        
    try:
        Description=driver.find_element_by_xpath("//div[@class='aMaAEs']/div[1]/h1/span[2]")
        Product_Description.append(Description.text)
    except: 
        Product_Description.append('-')
   
    try:
        p=driver.find_element_by_xpath("//div[@class='aMaAEs']/div[3]/div/div/div[1]")
        Price.append(p.text)
    except: 
        Price.append('-')
        
    try:
        d=driver.find_element_by_xpath("//div[@class='aMaAEs']/div[3]/div/div/div[3]")
        discount.append(d.text)
    except: 
        discount.append('-')

In [23]:
print(len(Brand),len(Product_Description),len(Price),len(discount))

120 120 120 120

In [24]:
data = list(zip(Brand[0:100],Product_Description[0:100],Price[0:100],discount[0:100]))

import pandas as pd
df = pd.DataFrame(data,columns=['Brand','Product_Description','Price','discount'])

df

,Brand,Product_Description,Price,discount
0,PEHANOSA,Sneakers For Men (Multicolor),₹376,62% off
1,Robbie jones,Sneakers For Men (White),₹474,52% off
2,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹499,80% off
3,Echor,Sneakers For Men (Olive),₹569,43% off
4,Axter,New Collection of Combo Pack of 2 Stylish Shoe...,₹616,38% off
5,Arohi,Sneakers For Men (White),-,-
6,PUMA,Puma Smash v2 L Sneakers For Men (White),-,-
7,pollachief,Casual Sneaker for Men Sneakers For Men (Black),₹395,60% off
8,Kreverse,Sneakers For Men (Black),₹266,73% off
9,bluemaker,casual for men (beige 06) Sneakers For Men (B...,₹474,52% off
10,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹242,59% off
11,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,-,-
12,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹474,52% off
13,HOC,Luxury Fashionable Breathable Casual Sneakers ...,-,-
14,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,-,-
15,bluemaker,casual for men (blue 10) Sneakers For Men (Blue),₹474,52% off
16,tigonis,Sneakers For Men (White),₹379,78% off
17,Magnolia,White Sneakers Sneakers For Men (White),₹348,65% off
18,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",-,-
19,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,-,-
20,Zsyto,Sneakers For Men (Black),-,-
21,BIRDE,Men's Stylish Casual Shoes Sneakers For Men (...,-,-
22,mannu,Luxury Fashionable Breathable Casual Sneakers ...,-,-
23,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,-,-
24,India hub,Sneakers For Men (Black),-,-
25,Zorth,"New Fashion Outdoor Trendy Lightweight Casual,...",₹435,56% off
26,TR,Sneakers For Men (Multicolor),-,-
27,RED TAPE,Sneakers For Men (White),-,-
28,SPARX,"SM-482 Sneakers For Men (Black, Red)",-,-
29,Jokatoo,casual sneaker shoes and partywear shoes Casua...,-,-
...,...,...,...,...
70,Numenzo,Numenzo Black Sneaker For Men Sneakers For Men...,-,-
71,Chevit,Perfect Combo Pack of 02 Pairs Casual Sneakers...,-,-
72,Kraasa,Series 7 Sneakers For Men (White),₹499,50% off
73,SPARX,SM439G Sneakers For Men (White),-,-
74,restinfoot,"Casual shoes,Sneakers for men's,shoes for men'...",₹349,65% off
75,Nilatin,White Sneaker For Men Sneakers For Men (White),-,-
76,Absolute comfort,SOFT Sneakers For Men (White),-,-
77,Magnolia,Sneakers For Men (White),₹398,60% off
78,bluemaker,casual for men (blue 10) Sneakers For Men (Blue),₹474,52% off
79,PUMA,X-Ray Sneakers For Men (Multicolor),-,-
80,PEHANOSA,Sneakers For Men (Multicolor),₹376,62% off
81,Robbie jones,Sneakers For Men (White),₹474,52% off
82,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹499,80% off
83,Echor,Sneakers For Men (Olive),₹569,43% off
84,Axter,New Collection of Combo Pack of 2 Stylish Shoe...,₹616,38% off
85,Arohi,Sneakers For Men (White),-,-
86,PUMA,Puma Smash v2 L Sneakers For Men (White),-,-
87,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,-,-
88,Kreverse,Sneakers For Men (Black),₹266,73% off
89,bluemaker,casual for men (beige 06) Sneakers For Men (B...,₹474,52% off
90,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹242,59% off
91,pollachief,Casual Sneaker for Men Sneakers For Men (Black),₹395,60% off
92,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹474,52% off
93,HOC,Luxury Fashionable Breathable Casual Sneakers ...,-,-
94,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,-,-
95,India hub,Fashionable casual sneakers shoes Sneakers For...,₹426,85% off
96,tigonis,Sneakers For Men (White),₹379,78% off
97,Magnolia,White Sneakers Sneakers For Men (White),₹348,65% off
98,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",-,-
99,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,-,-

In [37]:
#creating one list which is going to store all the links
sneakers_opening_urls = []
url= driver.find_elements_by_xpath('//nav[@class= "yFHi8N"]//a')
for i in url[0:3]:
    sneakers_opening_urls.append(i.get_attribute('href')) #to retrieve any link we use get_attribute

In [38]:
 sneakers_opening_urls

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [27]:
Price=[]
Discount=[]

In [39]:
for i in sneakers_opening_urls:
    driver.get(i)
    time.sleep(5)
   
    try:
        prod_price=driver.find_element_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
        Price.append(prod_price.text)
    except:
        Price.append('-')
        
    try:
        disc=driver.find_element_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]/span")
        Discount.append(disc.text)
    except:
        Discount.append('-')

In [42]:
len(Price)

6

In [30]:
sneakers_brand=[]
for i in sneakers_opening_urls:
    driver.get(i)
    time.sleep(5)
    try:
        brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in brands:
            sneakers_brand.append(i.text)
    except:
        sneakers_brand.append('-')
            
sneakers_brand

['BRUTON',
 'Longwalk',
 'ASTEROID',
 'luxury fashion',
 'Numenzo',
 'Shoes Bank',
 'Axter',
 'World Wear Footwear',
 'Creer',
 'RODDICK SHOES',
 'Numenzo',
 'ASTEROID',
 'Numenzo',
 'Numenzo',
 'Robbie jones',
 'BIRDE',
 'believe',
 'SCATCHITE',
 'VIPSJAZZY',
 'Robbie jones',
 'restinfoot',
 'SPARX',
 'Kraasa',
 'Arohi',
 'Chevit',
 'BIRDE',
 'PEHANOSA',
 'Chevit',
 'Absolute comfort',
 'Magnolia',
 'Kraasa',
 'bluemaker',
 'Kreverse',
 'RODDICK SHOES',
 'mannu',
 'HOC',
 'Zsyto',
 'RODDICK SHOES',
 'Airland',
 'D-SNEAKERZ',
 'BIRDE',
 'Zsyto',
 'BRUTON',
 'BRUTON',
 'bacca bucci',
 'Numenzo',
 'bluemaker',
 'SHOEFLY',
 'India hub',
 'HOC',
 'TR',
 'Mr ShoesWala',
 'Magnolia',
 'Jokatoo',
 'SPARX',
 'SHOEFLY',
 'bluemaker',
 'Labbin',
 'India hub',
 'SPARX',
 'BRUTON',
 'Jack Diamond',
 'tigonis',
 'NBL Sports',
 'Jack Diamond',
 'SPARX',
 'Zorth',
 'Rising Wolf',
 'bluemaker',
 'BRUTON',
 'Chevit',
 'Tying',
 'Carlo Style',
 'BIRDE',
 'Nilatin',
 'T-ROCK',
 'SPARX',
 'Zorth',
 'PUMA',
 'SPARX',
 'Stefano Rads',
 'D-SNEAKERZ',
 'BRUTON',
 'PUMA',
 'HOTSTYLE',
 'World Wear Footwear',
 'SPARX',
 'PUMA',
 'SHOEFLY',
 'World Wear Footwear',
 'U.S. POLO ASSN.',
 'D-SNEAKERZ',
 'SPADE CLUB',
 'Robbie jones',
 'flipy',
 'SPARX',
 'Robbie jones',
 'Fzzirok',
 'RODDICK SHOES',
 'Eliq',
 'ROAR SHOES',
 'PUMA',
 'WRIZT',
 'Zsyto',
 'Ktiz',
 'PUMA',
 'SPARX',
 'SPARX',
 'BIRDE',
 'WRIZT',
 'SEGA',
 'Englewood',
 'BIRDE',
 'World Wear Footwear',
 'HOCKWOOD',
 'BIRDE',
 'Zsyto',
 'SPARX',
 'Absolute comfort',
 'RED TAPE']

In [33]:
Product_description=[]
for i in sneakers_opening_urls:
    driver.get(i)
    time.sleep(5)
    try:
        product=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
        for i in product:
            Product_description.append(i.text)
    except:
        Product_description.append('-')
            
Product_description

['-', '-', '-']

In [31]:
#creating data frame
data = list(zip(sneakers_brand,Product_description,Price,Discount))

import pandas as pd
df = pd.DataFrame(data,columns=['sneakers_brand','Product_description','Price','Discount'])

df

,sneakers_brand,Product_description,Price,Discount
0,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
1,Longwalk,Men's Stylish Casual Shoes Sneakers For Men,₹379,24% off
2,ASTEROID,Classy Sneakers For Men,₹217,68% off